{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add a new Venue{% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="venue_ID">Venue ID</label>
        <input type="text" name="venue_ID"
               placeholder="Venue ID" class="form-control"
               value="{{ request.form['venue_id'] }}"></input>
    </div>
    <div class="form-group">
        <label for="Venue_name">Venue_name</label>
        <input type="text"  name="Venue_name" placeholder="Venue_name"
                  class="form-control">{{ request.form['venue_name'] }}</input>
    </div>
    
    <div class="form-group">
        <label for="Faculty_incharge">Faculty_incharge</label>
        <input type="text"  name="Faculty_incharge" placeholder="Faculty_incharge"
                  class="form-control">{{ request.form['faculty_incharge'] }}</input>
    </div>

    <div class="form-group">
        <label for="Dept">Department</label>
        <input type="text"  name="Dept" placeholder="Dept"
                  class="form-control">{{ request.form['dept'] }}</input>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}